<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.duobang.workbench">

    <application
        >
        <activity android:name=".ui.activity.DailyTaskCreateActivity"/>
        <activity android:name=".ui.activity.DiskActivity"/>
        <activity android:name=".ui.activity.DiskFolderActivity"/>
        <activity android:name=".ui.activity.DiskConfigActivity"/>
        <activity
            android:name=".ui.activity.TbsReaderActivity"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
    </application>

</manifest>